---
import BuildingIcon from "../components/icons/BuildingIcon.astro";
import MapIcon from "../components/icons/MapIcon.astro";
import GrayLinkWithIcon from "../components/GrayLinkWithIcon.astro";
import PreviousEdition from "../components/PreviousEdition.astro";
---

<div class="background"></div>
<main class="ctm-container">
  <article>
    <h1>X CESINF</h1>
    <h2 class="subtitle">10 º aniversario</h2>
    <p style="text-wrap: balance;">
      Conferencias, talleres, proyectos... ¡y mucho más! Vive una experiencia
      única en el mundo de la tecnología. Conecta con profesionales y
      estudiantes apasionados. ¡No te pierdas el evento más esperado del año!
    </p>
    <div class="subcontent">
      <div class="box">
        <h2 style="margin: 0; text-wrap: nowrap;">30 & 31</h2>
        <p style="margin: 0">Enero</p>
      </div>
      <ul>
        <GrayLinkWithIcon
          href="https://www.ull.es/portal/agenda/local/seccion-de-fisica-y-matematicas/"
        >
          <BuildingIcon width="20" height="20" />
          <small>Aula Magna de Física y Matemáticas</small>
        </GrayLinkWithIcon>
        <GrayLinkWithIcon href="https://maps.app.goo.gl/58KD3tuym1jhRGJV9">
          <MapIcon width="20" height="20" />
          <small>Avenida Astrofísico Francisco Sánchez, s/n</small>
        </GrayLinkWithIcon>
        <PreviousEdition />
      </ul>
    </div>
  </article>
</main>

<style>
  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url(/backgrounds/hero_background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .ctm-container {
    background-image: linear-gradient(#000, transparent 20%, 80%, #000),
      radial-gradient(circle at 80% 40%, transparent, #000 90%);
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 0 80px;
  }

  article {
    max-width: 30rem;
    height: 50%;
  }

  h1 {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    text-wrap: nowrap;
  }

  .subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: "Glitch";
    text-wrap: nowrap;
    font-weight: 100;
    background: linear-gradient(to bottom right, #7303c0, #ec38bc);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p,
  small {
    color: #bbb;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    gap: 20px;
    padding: 20px;
    border: 2px solid #323232;
    border-radius: 0.25rem;
    min-width: 6rem;
  }

  .subcontent {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 10px;
    gap: 10px;
    margin: 0;
    list-style: none;
  }

  @media (max-width: 1024px) {
    .background {
      background-image: url(/backgrounds/hero_background_mobile.webp);
    }

    .ctm-container {
      background-image: linear-gradient(#000, #00000027 20%, 90%, #000),
        radial-gradient(circle at 100% 100%, #00000027, #000 90%);
    }
  }

  @media (max-width: 640px) {
    .ctm-container {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }

    article {
      width: 100%;
    }
  }
</style>
