---
import Sponsor from "../components/Sponsor.astro";
---

<div id="sponsors" class="container">
  <div class="centered">
    <Sponsor image="/sponsors/click_comunicacion.svg" category="diamond" />
  </div>
  <div class="centered">
    <Sponsor image="/sponsors/inetel.webp" category="platinum" />
    <Sponsor image="/sponsors/bandama.webp" category="platinum" />
    <Sponsor image="/sponsors/isola.webp" category="platinum" />
  </div>
  <div class="centered">
    <Sponsor image="/sponsors/holasoft.webp" category="gold" />
    <Sponsor image="/sponsors/acidtango.webp" category="gold" />
    <Sponsor image="/sponsors/catedrabob.webp" category="gold" />
    <Sponsor image="/sponsors/catedrabinter.webp" category="gold" />
    <Sponsor image="/sponsors/pythoncanarias.webp" category="gold" />
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    padding-top: calc(max(40px, 1.5rem) + 40px);
  }

  .centered {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
  }

  @media (max-width: 768px) {
    .centered {
      gap: 20px;
    }
  }
</style>
