---
import Sponsor from "../components/Sponsor.astro";
import data from "../data/sponsors.json";
---

<article id="sponsors" class="ctm-container">
  <div class="centered">
    {data.diamond.map((sponsor) => <Sponsor category="diamond" {...sponsor} />)}
  </div>
  <div class="centered">
    {
      data.platinum.map((sponsor) => (
        <Sponsor category="platinum" {...sponsor} />
      ))
    }
  </div>
  <div class="centered">
    {data.gold.map((sponsor) => <Sponsor category="gold" {...sponsor} />)}
  </div>
</article>

<style>
  .ctm-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    padding: 0 20px;
    padding-top: 100px;
  }

  .centered {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
  }

  @media (max-width: 768px) {
    .centered {
      gap: 20px;
    }
  }
</style>
