---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout id="whoweare">
  <article
    style="display: flex; height: 100%; width: 100%; align-items: start; justify-content: center;"
  >
    <div class="grid">
      <div id="bento-description" class="bento-item bento-text">
        <h1>¿Quiénes somos?</h1>
        <p>
          El Congreso de Estudiantes de Ingeniería Informática es un evento que
          se celebra anualmente en la Escuela Superior de Ingeniería y
          Tecnología de la Universidad de La Laguna, organizado por estudiantes
          del grado de Ingeniería Informática.
        </p>
      </div>

      <div id="bento-main" class="bento-item">
        <div class="image" style="background-image: url(/bento_0.webp);"></div>
      </div>

      <div id="bento-second" class="bento-item">
        <div class="image" style="background-image: url(/bento_1.webp);"></div>
      </div>

      <div id="bento-objective" class="bento-item bento-text">
        <h1>Objetivo</h1>
        <p>
          Nuestro objetivo es dar a conocer nuevas tecnologías, aportar
          conocimiento e intercambiar ideas de la mano de profesionales de la
          informática así como del propio alumnado.
        </p>
      </div>

      <div id="bento-vertical" class="bento-item">
        <div class="image" style="background-image: url(/bento_mini_3.webp);">
        </div>
      </div>
    </div>
  </article>
</PageLayout>

<style>
  h1 {
    margin: 2.5rem 0;
    font-size: 3rem;
  }

  p {
    color: #bbb;
    text-wrap: balance;
  }

  .bento-item {
    border-radius: 8px;
    overflow: hidden;
  }

  .image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 800ms;
  }

  .image:hover {
    transform: scale(1.3);
  }

  .grid {
    margin-top: 20px;
    max-width: 1300px;
    display: grid;
    height: 80%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: dense;
    gap: 16px;
    padding: 8px;
    border-radius: 8px;
  }

  .bento-text {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #171717;
    padding: 0 2rem;
  }

  #bento-vertical {
    grid-column: span 1;
    grid-row: span 4;
  }

  #bento-main {
    grid-column: span 2;
    grid-row: span 2;
  }

  #bento-description {
    grid-column: span 2;
    grid-row: span 2;
  }

  #bento-second {
    grid-column: span 2;
    grid-row: span 4;
  }

  #bento-objective {
    grid-column: span 1;
    grid-row: span 4;
  }

  @media (max-width: 640px) {
    h1 {
      margin: 1rem 0;
      font-size: 1.5rem;
    }

    p {
      font-size: small;
    }
  }

  @media (max-width: 1100px) {
    h1 {
      margin: 1.5rem 0;
    }

    .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 1fr);
    }

    .bento-text {
      padding: 0 20px;
    }

    #bento-description {
      grid-column: span 2;
      grid-row: span 2;
    }

    #bento-second {
      display: none;
    }
  }
</style>
