<a>Venta online próximamente</a>

<style>
  a {
    margin-top: auto;
    outline: none;
    background-image: linear-gradient(to bottom right, #5d5d5d, #919191);
    font-size: 1rem;
    border: none;
    font-weight: bold;
    color: #bbb;
    padding: 10px 20px;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
  }
</style>
