<a href="#buy-ticket">Compra tu entrada!</a>

<style>
  a {
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    font-weight: 900;
    background-image: linear-gradient(#cd21da, #651799);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    transition-duration: 600ms;
  }

  a:hover {
    border: 2px solid #f78dff;
    box-shadow: 0 0 12px 6px rgba(255, 255, 255, 0.2);
  }
</style>
