---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    color: grey;
    fill: grey;
    text-decoration: none;
    display: inline-flex;
    width: fit-content;
    align-items: center;
    gap: 5px;
    transition-duration: 600ms;
    font-size: smaller;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
