---
interface Props {
  image: string;
  size: string;
}

const { image, size } = Astro.props;
---

<div class="card">
  <img src={image} alt="sponsor" style=`width: ${size};` />
</div>

<style>
  .card {
    padding: 4rem 5rem;
    border-radius: 1rem;
    width: 300px;
    background-color: white;
    transition: 400ms;
  }

  .card:hover {
    transform: scale(1.05);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
</style>
