<section>
  <img src="logo.svg" />
  <div>
    <h1>CESINF</h1>
    <strong>X</strong>
  </div>
</section>

<style>
  img {
    width: 70px;
    padding-bottom: 10px;
  }
  section {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }

  h1 {
    font-size: 40px;
    font-family: Aristotelica;
  }

  strong {
    padding-bottom: 12px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#cd21da, white);
    font-size: 50px;
    -webkit-background-clip: text;
  }
</style>
