---
import "@/styles/globals.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="El Congreso de Estudiantes de Ingeniería Informática es un evento que
          se celebra anualmente en la Facultad de Física y Matemáticas de la
          Universidad de La Laguna, organizado por estudiantes del grado de
          Ingeniería Informática."
    />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>X Cesinf</title>
    <!-- Hotjar Tracking Code -->
    <script is:raw>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 5281225, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
